.my-task {
    max-width: 1200px;
    margin: auto;

    .result__h2 {
        margin-bottom: 10px;
        text-align: center;
    }

    .row {
        width: 100%;
        display: flex;
        flex-wrap: wrap;

        .col-md-4 {
            width: 32%;
            margin-right: 5px;
            margin-left: 5px;

            img {
                width: 100%;
                border-radius: 10px;
                aspect-ratio: 16/9;
            }
        }

        @media (max-width: 1000px) {
            .col-md-4 {
                width: 48%;
            }
        }

        @media (max-width: 768px) {
            .col-sm-6 {
                width: 48%;
            }
        }
        @media (max-width: 576px) {
            .col-sm-6 {
                width: 98%;
            }
        }
    }
}